*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #505050;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #bfb3ac;
}
.wrapper{
    width: 70%;
    margin: auto;
}

.home-wrapper{
    height: 95vh;
    position: relative;
}

.home-wrapper a:hover{
    color: #333;
    transition: .4s;
}
nav{
    position: absolute;
    left: 15%;
    right: 15%;
    top:0;
    width: 70%;
    padding: 1rem 0rem;
}

nav ul{
    display: flex;
    
}

nav li{
    margin-right: 2rem;
}

nav a{
    font-size: 1.3rem;
    font-weight: 500;
    color: #692B2B;
}

nav li:first-child a{
    color: #333;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
.home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
}
.home-text h1{
    font-size: 4.2rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}
.home-text p{
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-bottom: 4rem;
}
.hire-button{
    background: #403C39;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
}

.home-img{
    background-image: url(images/face.jpg);
    background-size: cover;
    background-position: center;
}

.brands{
    /* margin-top: -3rem;
    z-index: 100; */
    position: relative;

}
.brands .wrapper{
    background: #fff;
    opacity: 0.4;
    padding: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 18px rgba(0,0,0,0.2);
    border-radius: 7px;
    width: 40vw;
}
.brands .wrapper img{
    width: 20%;
    height: 50px;
}

.skills-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin:50px;
    flex-wrap: wrap;
}

.skills-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 380px;
    background-color: #db9368;
    opacity: 0.9;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
  
.skills-card img{
    
}

.skills-card h3{   
    font-size: 18.72px;
    font-weight: bold;
}
.skills-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  

.container {
    padding: 2px 16px;
}
.container p{
    color: black;
}

.skill-heading{
    text-align: center;
    margin-top: 1.2em;
    font-weight: 700;
    font-size: 2rem;
}

.first-project{
    display: flex;
    justify-content: space-between;
    padding: 6rem;
    
}

.first-proj-img{
    width: 420px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project-heading-txt{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.first-proj-text p{
    margin-top: 20px;
    width: 50%;
    color: #373737;
}
.btn-proj-one button{
    background: #403C39;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    
}

.contact{
    text-align: center;
    line-height: 2rem;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: -50px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: -50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 50px;
    background: #BFB3AC;
    opacity: 0.95;
    height: 100vh;
    max-width: 200px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    padding-left: 20px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    
    margin-left: -30%;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
    margin-left: -50px;
}
.navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

.home-hello{
    margin-left: 3px;
    
}

.first-project{
    display: block;
    align-items: center;
}
.project-heading-txt{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.first-proj-text p{
    margin-top: 20px;
    width: 100%;
}
.first-proj-img{
    width: 300px;
    height: 200px;
    margin-left: -60px;
    margin-top:  20px;
    margin-bottom: -100PX;
    margin-right: 15px;
    
}
.first-proj-text p{
    margin-top: 20px; 
}

.brands .wrapper{
    width: 70vw;
}
.contact{
    margin-top: 50px;
    text-align: center;
    line-height: 2rem;
    font-size: smaller;
    margin-right: 5px;
}

.skills-card {
 width: 310px;
 height: 200px;
}

}
@media (min-width: 481px) and (max-width: 768px){
    .home-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: smaller;
        margin-left: -50px;
    }
    nav{
        position: absolute;
        left: 5%;
        right: 15%;
        top:0;
        width: 70%;
        padding: 1rem 0rem;
    }
    .first-project{
        display: block;
        align-items: center;
        
    }
    .project-heading-txt{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .first-proj-text p{
        margin-top: 20px;
        width: 100%;
    }
    .first-proj-img{
        width: 370px;
        height: 220px;
        margin-left: 10%;
        margin-top:  20px;
        margin-bottom: -100PX;
    }
    .first-proj-text p{
        margin-top: 20px; 
    }

    .contact{
        margin-top: 50px;
        line-height: 2rem;
        font-size: larger;
    }
    .brands .wrapper{
        width: 70vw;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .home-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: smaller;
        margin-left: -50px;
    }
    nav{
        position: absolute;
        left: 5%;
        right: 15%;
        top:0;
        width: 70%;
        padding: 1rem 0rem;
    }
    .first-project{
        display: flex;
        align-items: center;
        
    }
    .project-heading-txt{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .first-proj-text p{
        margin-top: 20px;
        width: 100%;
    }
    .first-proj-img{
        width: 420px;
        height: 250px;
        margin-left: 10%;
        margin-top:  20px;
        margin-bottom: -100PX;
    }
    .first-proj-text p{
        margin-top: 20px; 
    }

    .contact{
        margin-top: 50px;
        line-height: 2rem;
        font-size: larger;
    }
    .brands .wrapper{
        width: 70vw;
    }
}